body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
}

.g1 {    
    grid-template-columns: repeat(3, 80px);
    gap: 10px;    
}

.g1 .item {
    box-sizing: border-box;
    background-color: lightgray;
    text-align: center;
    padding: 30px;
}

.g2 {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 50px minmax(75px, 1fr));
    gap: 15px;
}

.g2 .item {
    box-sizing: border-box;
    color: white;
    background-color: lightcoral;
    text-align: center;
    align-content: center;
}

.g3 {
    grid-template-areas: 
    "header header header header"
    "aside aside articles articles"
    "aside aside featured featured"
    "footer footer footer footer";
    grid-template-rows: 30px 2fr 1fr 30px;
    grid-template-columns: 100px 1px 1fr;
    font-size: 1.5em;
    text-align: start;
    height: 400px;
    width: 400px;
    gap: 10px
}

header {
    grid-area: header;
    background-color: lightblue;
}

aside {
    grid-area: aside;
    background-color: lightpink;
}

main {
    
}

main .articles {
    grid-area: articles;
    background-color: lightseagreen;
    grid-column: span1 ;
}

main .featured {
    grid-area: featured;
    background-color: lightyellow;
}

footer {
    grid-area: footer;
    background-color: lightgray;
}

/* figure out how to have main span whole box */