body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
}

.g1 {    
    grid-template-columns: repeat(3, 80px);
    gap: 10px;    
}

.g1 .item {
    box-sizing: border-box;
    background-color: lightgray;
    text-align: center;
    padding: 30px;
}

.g2 {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 50px minmax(75px, 1fr));
    gap: 15px;
}

.g2 .item {
    box-sizing: border-box;
    color: white;
    background-color: lightcoral;
    text-align: center;
    align-content: center;
}

.g3 {
    grid-template-areas: 
    "header";
}
