body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}
h2 {
    font-size: 1.6em;
    margin: 1rem 0;
}
p {
    margin: 0 0 1rem 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
a {
    color: #e6a563;
}
header {
    background-color: #efefef;
    position: sticky;
    top: 0;
}
header a {
    text-decoration: none;
    color: #000
}
header a:hover {
    color: #e6a563;
}
header .container {
    padding: 10px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header img {
    width: 250px;
    margin-right: auto;

}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
.button:hover {
    background-color: #fff;
}
nav li {
    margin: 0 1em;
}
footer {
    text-align: center;
    background-color: #D9D9D9;
    padding: 20px;
}
footer img {
    width: 35px;
}

.community {
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1em;
    width: 1000px;
}

.community span {
    color: #b9b9b9;
}

.featured {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 9px 30px #dddcdc;
    grid-column: 1/4;
}

.featured div {
    align-self: flex-start;
    padding: 10px 35px;
}

.featured img {
    width: 500px;
    align-self: flex-start;
    justify-content: center;
}

.event-block:nth-child(2) {
    align-content: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 9px 9px 30px #dddcdc;
    text-align: center;
}

.event-block:nth-child(3) {
    align-content:center ;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
    box-shadow: 9px 9px 30px #dddcdc;
    text-align: center;
}

.event-block:nth-child(2) img {
    max-width: 340px;
}

 .event-block:nth-child(3) img {
    max-width: 340px;
    align-items: start;
 }

.event-block:nth-child(2) p, .event-block:nth-child(3) p {
    margin: 30px;
}




/* <div class="event-block featured">
        <img src="images/event-cat-care.jpg" alt="cat care">
        <h2>Monthly Cat Care Webinar</h2>
        <p><span>February 15, 2025</span><br>
            <span>7:00 PM - 8:00 PM (EST)<br>
            Online</span><br><br>
            Join us for our Monthly Cat Care Webinar featuring Dr. Jane Smith, a certified veterinarian with over 10 years of experience in feline health. This month, we'll discuss common cat health issues and how to keep your furry friend happy and healthy. Don't miss this opportunity to ask your burning questions!</p>
    </div> */

